<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <!--bootswatch theme-->
    <link rel="stylesheet" href="https://bootswatch.com/readable/bootstrap.min.css">
	<!-- my css -->
    <link rel="stylesheet" type="text/css" href="/assets/css/style.main.css">

	<!-- Jquery -->
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>

	<title>Financial News Notebook</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="jumbotron">
                <h1>The Financial News Notebook</h1>
                <p>Take notes on CNBC headlines</p>
                <div>
                    <a href="/" class="btn btn-primary btn-lg" role="button">Home</a>
                    <a href="/scrape" class="btn btn-primary btn-lg" role="button">Update</a>
                </div>
            </div>
        </div>

        <div class="row">

            <div class="content">
            {{{body}}}
            </div>

        </div>

        <div class="row">

        </div>

    </div>


	    <script type="text/javascript" src="assets/js/app.js"></script>
    <script type="text/javascript">
//        $('.btn-primary').on('click', function(){
//
//        })
    </script>

</body>
</html>